@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  margin: 0;
  font-family: 'Oleo Script', cursive;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-section {
  background-color: #f7c873;

}

.navbar-section .title {
  color: black;

}

.navbar-section .nav {
  background-color: #faebcd;
}

/* .navbar-section .nav .nav-link {
  margin
} */


nav section h1 {
  font-family: 'Oleo Script', cursive;

}

.petProfileList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start
}

.petProfile, .events {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 400px;
  height: max-content;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  border: 2px solid #434343;

}

.events {
  flex-direction: column;
}


.petProfile .img-profile {
  width: 150px;
  height: 150px;
}


.petProfile ul {
  list-style-type: none;
}

.addpet-section {
  max-width: max-content;
}




.addPetForm, .addEventsForm {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 10px;
  background-color: #faebcd;
  border-radius: 5px;
}

.addEventsForm {
  position: relative;
  margin-top: 20px;
  left: 30%;
}


.eventsubmit-btn {
  margin-top: 20px;
  background-color: #ffffff;
  color: #f7c873;
  border: none;
  border-radius: 5px;
  margin: 5px;
}


#note {
  text-indent: 10px;

}

.events.add-profile {
  height: 175px;

}

.events.add-profile:hover, .events.add-profile .icon:hover {
  cursor:pointer;
}


.icon {
  width: 50px;
  height: 50px;
  text-align: center;
  margin-left: 40%;
}